
* { box-sizing: border-box; }

body { font-family: sans-serif; }

.carousel {
  background: #EEE;
}
img{
    min-width: 28%;
    border-radius: 50% !important;
    height: 245px;
}
.cell {
   display: inline-block; 
   margin: 0 15px;
  border-radius: 8px;
  overflow: hidden;
}
.wrapper{
    width: 90%;
    position: relative;
    margin: 5%;
}
.data{
    text-align: center;
    margin: 10%;
}
.img{
    width: 220px;
    height: 210px;
    background-repeat: no-repeat;    background-size: auto;
    border-radius: 50%;
    background-color: black;
}
.flickity-prev-next-button {
    top: 40%;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    transform: translateY(-50%);
}